# GitHub Container Registry Authentication Variables
# Used to let Watchtower pull the private Astro image from GHCR.
GITHUB_USERNAME="Glitchyi"
CR_PAT="gho_YourPersonalAccessToken"

# Watchtower Webhook Secret
# This must match the 'WATCHTOWER_TOKEN' secret in your GitHub Action Settings.
WATCHTOWER_TOKEN="your-random-webhook-token"
